<div id="addPage">

    <div id="add">
      <h1>Add Person</h1>
      <div class="form">
        <mat-form-field appearance="fill">
          <mat-label>{{person.name}}</mat-label>
          <input matInput placeholder="FirstName LastName " [(ngModel)]="inputName" name="Name" />
        </mat-form-field>
  
        <mat-form-field appearance="fill">
          <mat-label>{{person.dateOfBirth}}</mat-label>
          <input matInput mask="0000-M0-d0" placeholder="Ex. 2022-06-23" [(ngModel)]="inputDateOfBirth" />
        </mat-form-field>
  
        <div>
          <label>Gender:</label>
          <mat-radio-group [(ngModel)]="inputGender">
            <mat-radio-button value="M" labelPosition="after">Male</mat-radio-button>
            <mat-radio-button value="F" labelPosition="after">Female</mat-radio-button>
          </mat-radio-group>
      </div>
  
        <mat-form-field appearance="fill">
          <mat-label>{{person.picPath}}</mat-label>
          <input matInput type="url" placeholder="Ex. https://site/this-pic.png" [(ngModel)]="inputPicPath"
            pattern="https://.*" />
        </mat-form-field>
  
        <div id="buttonBox">
          <button id="addB" mat-button (click)="editPerson()" routerLink="/persons"></button>
        </div>
  
      </div>
  
    </div>
  </div>