<div id="addPage">
  <div class="add-form">
    <div id="add">
      <img
        src="https://media-exp2.licdn.com/dms/image/C4D03AQGKmXmHsplLlQ/profile-displayphoto-shrink_800_800/0/1646220993928?e=1661990400&v=beta&t=ZRHXb_MpUHt8LsCWR2Qjv8apIqcajR93NsxSQobP6l4">
      <div id="about">
        <h1>Denisa-Georgiana Vasile</h1>
        <h2>grupa 10LF203</h2>
        <h3>Specializarea: Informatica IF</h3>
        <h3>Anul: 2(2021 - 2022)</h3>
        <h3>Facultatea de Matematica si Informatica</h3>
        <h3>Universitatea Transilvania, Brasov</h3>
      </div>
    </div>
  </div>
</div>